body {
  margin-top: 20px;
}
.text-center {
  text-align: center ;
}
.mb-5 {
  margin-bottom: 3rem ;
}
.mx-auto {
  margin-right: auto ;
  margin-left: auto ;
}
.text-reset {
  --bs-text-opacity: 1;
  color: inherit ;
}
@media screen and (min-width: 1200px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
a {
  color: #000000;
  text-decoration: none;
}
body,.go-to-home {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
